
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family:'Courier New', Courier, monospace !important;
}

img{
  position: absolute;
  width: 200px;
  top:-50px;
}
.mynav{
  background-color: lightgray;
  height: 100px;
  box-shadow:1px 1px 4px black; 
  position: sticky !important;
  top: 0px;
  z-index: 16;
}
.mysearch{
  height: 50px;
  /* width:400px !important; */
  border: none;
  box-shadow: 1px 1px 4px black;
}
.mytableheading{
  box-shadow:1px 1px 4px black; 
  margin-bottom: 10px !important;
  font-weight: bold;
}


.myicon:hover{
  color:black !important;
}
